.error {
  color: red;
  border: 2px solid red;
  padding: 1rem;
  border-radius: 10px;
  margin: 0.5rem;
  font-size: 20px;
  background-color: rgb(212, 212, 212);
}

.success {
  color: green;
  border: 2px solid green;
  padding: 1rem;
  border-radius: 10px;
  margin: 0.5rem;
  font-size: 20px;
  background-color: rgb(212, 212, 212);
}